@charset 'utf-8';
@import './lib/share';

.export {
  cursor: pointer;
  float: left;
  font-size: 14px;
  line-height: 32px;
  position: relative;
  text-align: center;
  width: 82px;
  z-index: 1111;

  &.open-o {
    .export-button {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .export-menu {
      display: flex;
    }
  }

  &-button {
    background: #00a8ff;
    border-radius: 4px;
    color: #fff;
    display: block;
  }

  &-menu {
    background: #fff;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;

    &-item:hover {
      background: $grey-da;
    }
  }
}
