.download-mgr-dialog {
    z-index: 1000000099;
    position: fixed;
    background: #FFF;
    width: 580px;
    display: none;
    font-family: tahoma, arial, 宋体, 'Microsoft Yahei', Simsun;
}
#setting_div_table input {
    border: 1px solid #C6C6C6;
    box-shadow: 0 0 3px #C6C6C6;
    -webkit-box-shadow: 0 0 3px #C6C6C6;
    height: 18px;
}
.input-large {
    width: 90%;
}
.input-small {
    width: 150px;
}
.new-btn {
    position: relative;
    display: inline-block;
    height: 30px;
    padding: 0 10px 0 10px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border-radius: 3px;
    margin-right: 10px;
    background: #52C035;
    cursor: pointer;
}
.new-btn:hover {
    text-decoration: none;
    cursor: pointer;
}
#setting_div_table input[disabled] {
    cursor: not-allowed;
    background-color: #eee;
}
#send_test {
    display: inline-block;
    border: 1px solid #D1D1D1;
    background-color: #F7F7F7;
    text-align: center;
    text-decoration: none;
    color: #1B83EB;
}
#copyright {
    display: inline-block;
}
#setting_aria2_headers {
    overflow: auto;
    resize: none;
    width: 90%;
    height: 80px;
    border: 1px solid #C6C6C6;
    box-shadow: 0 0 3px #C6C6C6;
    -webkit-box-shadow: 0 0 3px #C6C6C6;
}
#apply {
    display: inline-block;
    width: 100px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    background: #52C035;
    background: -webkit-linear-gradient(top, #52C035, #4BAC32);
    background: -moz-linear-gradient(top, #52C035, #4BAC32);
    background: -o-linear-gradient(top, #52C035, #4BAC32);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#52C035', endColorstr='#4BAC32');
}
#apply b {
    float: none;
    padding-right: 2px;
}
.download-mgr-dialog .content {
    padding: 10px 20px;
    height: auto;
    overflow: hidden;
}
#setting_div_table {
    width: 100%;
    border: 0;
    border-collapse: separate;
    border-spacing: 10px;
    display: table;
    background-color: rgb(250, 250, 250);
}